* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 15px 10px;
}

p {
  background-color: aqua;
  overflow: scroll;
}

p.satu {
  width: 283px;
  height: 95px;
  font-size: 15px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-width: 11px;
  border-style: dotted;
  border-color: red;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 15px;
}

p.dua {
  width: 283px;
  height: 95px;
  font-size: 15px;
  padding: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: green;
  margin : 20px 10px;
}

p.tiga {
  width: 283px;
  height: 95px;
  font-size: 15px;
  padding: 10px 20px 4px 10px;
  border: 20px dashed blue;
  margin: 15px 0 40px 10px;
}
